{% extends "base.html" %}
{% load static extra_css %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/bio.css' %}"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Edit personal data</h1>
    </div>
    <div class="msg"></div>

    <form class="form-horizontal" id="bio_form" action="{% url "bio:ajax-update" %}" method="post">{% csrf_token %}
    <fieldset>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label" for="id_first_name">First Name</label>
            <div class="col-md-8">
                {{ form.first_name|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="id_last_name">Last Name</label>
            <div class="col-md-8">
                {{ form.last_name|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="id_date_of_birth">Birthday</label>
            <div class="col-md-8">
                {{ form.date_of_birth|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="id_photo">Photo</label>
            <div class="col-md-8">
                <input id="id_photo" name="id_photo" class="input-file" type="file">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <img id="photo-preview" src="{% static "img/300x410.gif" %}" alt="Photo Preview"/>
            </div>
        </div>
    </div><!-- .col-md-6 -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_email">Email</label>
            <div class="col-md-8">
                {{ form.email|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_skype">Skype</label>
            <div class="col-md-8">
                {{ form.skype|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_jabber">Jabber</label>
            <div class="col-md-8">
                {{ form.jabber|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_bio">Biograpthy</label>
            <div class="col-md-8">
                {{ form.bio|addcss:"form-control" }}
            </div>
        </div>

         <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_other">Other</label>
            <div class="col-md-8">
                {{ form.other|addcss:"form-control" }}
            </div>
        </div>
    </div><!-- .col-md-6 -->

    <div class="col-md-6">
        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
    </div>
    <div class="col-md-6">
        <a href="/" class="btn btn-default pull-left">Back Home</a>
    </div>
    </fieldset>
    </form>

    <div id="loader" style="display:none"></div>
{% endblock %}

{% block extra_body %}
      <script type="text/javascript" src="{% static 'js/bio_edit.js' %}"></script>
{% endblock %}