{% extends "base.html" %}
{% load static extra_css %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/bio.css' %}"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Edit personal data</h1>
    </div>
    <div class="msg"></div>

    <form class="form-horizontal" id="bio_form" action="{% url "bio:ajax-update" %}" method="post">{% csrf_token %}
    <fieldset>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label" for="id_first_name">First Name</label>
            <div class="col-md-8">
                {{ form.first_name|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="id_last_name">Last Name</label>
            <div class="col-md-8">
                {{ form.last_name|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="id_date_of_birth">Birthday</label>
            <div class="col-md-8">
                {{ form.date_of_birth|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Photo</label>
            <div class="col-md-8">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12 photo-preview">
                <img src="http://placehold.it/300x400" alt=""/>
            </div>
        </div>
    </div><!-- .col-md-6 -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_email">Email</label>
            <div class="col-md-8">
                {{ form.email|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_skype">Skype</label>
            <div class="col-md-8">
                {{ form.skype|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_jabber">Jabber</label>
            <div class="col-md-8">
                {{ form.jabber|addcss:"form-control input-md" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_bio">Biograpthy</label>
            <div class="col-md-8">
                {{ form.bio|addcss:"form-control" }}
            </div>
        </div>

         <div class="form-group">
            <label class="col-md-4 control-label pull-right" for="id_other">Other</label>
            <div class="col-md-8">
                {{ form.other|addcss:"form-control" }}
            </div>
        </div>
    </div><!-- .col-md-6 -->

    <div class="col-md-6">
        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
    </div>
    <div class="col-md-6">
        <a href="/" class="btn btn-default pull-left">Back Home</a>
    </div>
    </fieldset>
    </form>

    <div id="loader" style="display:none"></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    var frm = $('#bio_form');
    frm.submit(function (ev) {
        $('#loader').show(); //<----here
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $('#loader').hide();
                $('.msg').html('<p class="alert alert-success" role="alert"><strong>Success!</strong> Changes have been saved!</p>');
            }
        });

        ev.preventDefault();
    });
</script>
{% endblock %}