{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ object_list.0.overall }} requests so far
{% endblock %}

{% block extra_head %}
	<link href="{% static 'css/activity.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="page-header">
        <h1>Http Requests Hisoury</h1>
    </div>
	<p class="lead">Last 25 website requets of <strong id="overall">{{ object_list.0.overall }}</strong> overall</p>
	<ul id="httprequests">
	{% for req in object_list %}
		<li><mark>{{ req.pk }} | {{ req.priority }}</mark> <span class="request_date">{{ req.date_formated }}</span> "{{ req.method }} {{ req.url }} {{ req.server_protocol }}"{{ req.status_code }} {{ req.content_len }}</li>
	{% endfor %}
	</ul>

{% endblock %}

{% block extra_body %}

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="{% static 'js/activity.js' %}"></script>
{% endblock %}