ul {
    padding-left: 0;
    font-size: 1.1em;
}
ul li {
    list-style: none;
}

ul li span {
    color: #a6a6a6;
    margin-right: 10px;
}

.biogrphy {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
    Edit Page
*/
#loader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible;
    background: black url('/static/img/loading.gif') no-repeat center center; }
#bio_form {
    margin-bottom: 50px;
}
#photo-preview {
    max-height: 410px;
    max-width: 295px;
}