{% load swampdragon_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% block title %}42 Coffe Cups Test{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Base Styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/screen.css' %}" rel="stylesheet">

	{% block extra_head %}{% endblock %}
  </head>
  <body>

  <div class="container">
	  {% block content %}
	  {% endblock %}
  </div>

  <footer class="footer">
      <div class="container">
	      <p class="text-muted footlinks"><a href="/">Homepage</a> | <a href="{% url "activity:list" %}">Last Requests</a><br/>
		      <span class="copy">2015 © <a href="http://42coffeecups.com/" target="_blank">42 Coffee Cups</a> Test Assignment
		      by <a href="https://github.com/wide-awake" target="_blank">Yanik Koval</a> ツ</span>
	      </p>
      </div>
  </footer>


  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  {% block extra_body %}{% endblock %}


</body>
</html>